<div class="p-3 p-lg-5">
    <div class="text-center mt-4">
        <img class="light-mode-item navbar-brand-item" src="~/assets/images/logo.svg" alt="" width="180">
        <img class="dark-mode-item navbar-brand-item" src="~/assets/images/logo-light.svg" alt="" width="180">
        <br><br>
        <h2 class="fw-bold">Muito mais que cursos de programação. Uma comunidade!</h2>
        <p class="mb-0 h6 fw-light">Vamos aprender algo novo todos os dias!</p>
        
        <img src="~/assets/images/element/02.svg" class="mt-5" alt="Muito mais que cursos de programação. Uma comunidade!">
    </div>
    
    
</div>