# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
.vs/
.vscode/

# Other files and folders
[Oo]ld[Cc]are.[Ww]eb/appsettings.json
[Oo]ld[Cc]are.[Ww]eb/appsettings.Development.json
.settings/
.idea/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
