@model Product
@{
    ViewData["Title"] = "Cadastrar Produto";
}
<div class="container" style="">
    <form asp-action="Create" method="post">
        
        <!-- <!-- start row one -->
        <div class="row mt-2">
            <div class="col-6">
                <label asp-for="Name"></label>
                <input asp-for="Name" type="text" class="form-control" placeholder="">
                <span asp-validation-for="Name" class="text-danger" />
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-3">
                <label asp-for="UnitOfMeasurement"></label>
                <input asp-for="UnitOfMeasurement" type="text" class="form-control" placeholder="">
                <span asp-validation-for="UnitOfMeasurement" class="text-danger" />
            </div>
        </div>
        <div>
            <button class="btn-primary m-3 " type="submit" style="">Salvar</button>
        </div>
    </form>
</div>