@* @model TModel *@

@{
    ViewData["Title"] = "Cadastrar residente";
}

<section xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <div id="header"left"row oc-view-header-default">
        <div class="col-10">
            <h1 class="oc-view-title-default">
                <strong>Cadastrar Pessoa</strong>
            </h1>
            <h2 class="oc-view-subtitle-default oc-text-light-gray">Preencha os dados iniciais da 1° etapa.</h2>
        </div>
    </div>

    <div class="oc-steps font-weight-bold" style="width: 200px;">
        <ul class="navbar" type="none">
            <li class="mx-1">
                <a class="numberCircle">1</a>
            </li>
            <li class="mx-4">
                <a>2</a>
            </li>
            <li class="mx-1">
                <a>3</a>
            </li>
            <li class="mx-4">
                <a>4</a>
            </li>
        </ul>
    </div>

    <form class="row mt-5">
        <div class="col-1">
            <img class="img-fluid" src="/lib/media/site/images/icons/person-vector.png" width="128"/>
            <a href="#" class="add"><i class="bi bi-plus-circle-fill"></i></a>
        </div>
        <div class="col-8">
            <div class="row">
                <div class="col-12">
                    <div class="row mb-4">
                        <label class="col-2">Nome:</label>
                        <input class="col-10 oc-form-control" type="text"/>
                        <span class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row mb-4">
                        <div class="col-6">
                            <div class="row">
                                <label class="col-4">Nascimento:</label>
                                <input class="col-8 oc-form-control" type="date"/>
                                <span class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="row">
                                <label class="col-4">Naturalidade:</label>
                                <input class="col-8 oc-form-control" type="text"/>
                                <span class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row mb-4">
                        <label class="col-2">Sexo:</label>
                        <select class="col-4 oc-form-control">
                            <option selected>Selecione</option>
                            <option value="0">Feminino</option>
                            <option value="1">Masculino</option>
                        </select>
                        <span class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row mb-5">
                        <div class="col-6">
                            <div class="row">
                                <label class="col-4">RG:</label>
                                <input class="col-8 oc-form-control" type="text"/>
                                <span class="text-danger"></span>
                                <span class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="row">
                                <label class="col-4">CPF:</label>
                                <input class="col-8 oc-form-control" type="text"/>
                                <span class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col px-5 align-self-end text-end">
                <a asp-area="Backoffice" asp-action="CreateEnd" asp-controller="Person" class="color-default oc-dark-btn oc-text-decoration-none">Avançar</a>
            </div>
        </div>
    </form>

</section>