@model Person
@{
    ViewData["Title"] = "Editar";
}

<form asp-action="Edit" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name"/>
        <label asp-for="BirthDate"></label>
        <input asp-for="BirthDate"/>
        <label asp-for="Gender"></label>
        <select class="oc-form-control">
            <option selected>Selecione</option>
            <option value = 0>Feminino</option> 
            <option value = 1>Masculino</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Address"></label>
        <input asp-for="Address"/>
        <label asp-for="District"></label>
        <input asp-for="District"/>
        <label asp-for="City"></label>
        <input asp-for="City"/>
        <label asp-for="UF"></label>
        <select class="oc-form-control">
	<option selected>Selecione</option>
        <option value="AC">Acre</option>
        <option value="AL">Alagoas</option>
	<option value="AP">Amapá</option>
        <option value="AM">Amazonas</option>
	<option value="BA">Bahia</option>
        <option value="CE">Ceará</option>
	<option value="DF">Distrito Federal</option>
	<option value="ES">Espírito Santo</option>
        <option value="GO">Goiás</option>
	<option value="MA">Maranhão</option>
        <option value="MT">Mato Grosso</option>
	<option value="MS">Mato Grosso do Sul</option>
        <option value="MG">Minas Gerais</option>
	<option value="PA">Pará</option>
        <option value="PB">Paraíba</option>
	<option value="PR">Paraná</option>
        <option value="PE">Pernambuco</option>
	<option value="PI">Piauí</option>
        <option value="RJ">Rio de Janeiro</option>
	<option value="RN">Rio Grande do Norte</option>
        <option value="RS">Rio Grande do Sul</option>
	<option value="RO">Rondônia</option>
        <option value="RR">Roraima</option>
	<option value="SC">Santa Catarina</option>
        <option value="SP">São Paulo</option>
	<option value="SE">Sergipe</option>
        <option value="TO">Tocantins</option>
	
</select>

    </div>
    
    <button type="submit">Salvar</button>
</form>