@model List<Person>

@{
    ViewData["Title"] = "Pessoas";
}

<a asp-action="Create">Cadastrar Pessoa</a>

@foreach (var person in Model)
{
    <div>
        <div>
            <h1>@person.Name</h1>
            <p>@person.BirthDate</p>
            <a asp-area="Backoffice" asp-action="Edit" asp-controller="Person" asp-route-personId="@person.Id">Editar</a>
        </div>
    </div>
    <hr/>
}
