@* @model TModel *@

@{
    ViewData["Title"] = "Residentes";
}

<section>
    <div id="header" class="row oc-view-header-default">
        <div class="col-10">
            <h1 class="oc-view-title-default">
                <strong>Residentes</strong>
            </h1>
            <h2 class="oc-view-subtitle-default">alguma instrução</h2>
        </div>
        <div class="col-2">
            <div class="row">
                <div class="col-10">
                    <h1 class="oc-view-left-title-default"><img src="~/lib/media/site/images/icons/abed.png" width="32"/> mapa dos quartos</h1>
                </div>
                <div class="col-2">
                    <a asp-area="Backoffice" asp-action="CreateAStart" asp-controller="Person" class="oc-person-link"><i class="bi bi-plus-circle-fill"></i></a>
                </div>
            </div>
        </div>
    </div>
    
    <div id="content">
        <partial name="Partials/_ResidentDetailsDoorPartial"/>
    </div>
</section>