<div class="text-center text-lg-start public-default-background text-muted mt-4 p-1">
    <div class="container text-center text-md-start mt-5 text-white">
        <div class="row mt-3">
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 d-flex align-items-center">
                <div class="row">
                    <div class="col-4">
                        <img height="64" width="102" src="/media/images/logos/oldcare-logo.png">
                    </div>
                    <div class="col-8">
                        <h4 class="text-uppercase fw-bold mb-4">
                            Lar&nbsp;dos&nbsp;velhinhos
                        </h4>
                        <h4 class="text-uppercase" style="font-size: 7pt;">
                            Guaratinguetá - SP
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <h4 class="text-uppercase fw-bold mb-4">
                    Contatos
                </h4>
                <hr>
                <p>
                </p>
                <p class="text-reset">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                        <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"></path>
                    </svg> (12) 3125-1564
                </p>
                <p></p>
                <p>
                    <a href="mailto:larvelhinhos_franciscodeassis@yahoo.com.br" class="text-reset">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                            <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"></path>
                        </svg> E-mail
                    </a>
                </p>
                <p>
                    <a href="https://www.facebook.com/Lar-dos-Velhinhos-Guaratinguet%C3%A1-1488844897892389" class="text-reset">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                            <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"></path>
                        </svg> Facebook
                    </a>
                </p>
            </div>
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <h4 class="text-uppercase fw-bold mb-4">
                    Seja um parceiro
                </h4>
                <hr>
                <p class="oc-text-justified oc-text-ident">Grande parte dos recursos que suprem aos nossos idosos são frutos de doações da comunidade. Seja solidário, participe!</p>
            </div>
        </div>
    </div>
    <div class="text-center p-4 text-white" style="background-color: rgba(0, 0, 0, 0.05);">
        ® 2022 Todos os direitos reservados: Lar dos velhinhos
    </div>
</div>