<div class="container">
    <div class="row mt-4">
        <div class="col-12 text-center">
            <h1>
                <b>Galeria de Fotos</b>
            </h1>
            <br>
            <h4 class="oc-text-light-gray">Confira alguns de nossos registros e fique por dentro de tudo</h4>
            <br>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12  my-2">
            <div class="position-relative">
                <img class="w-100" src="https://i.imgur.com/FYi5TQU.png" alt="">
                <div class="position-absolute dados bg-cian" style="margin-right: -30px; border-radius: 8px;">
                    <h3 class="text-right text text-uppercase m-4">Alegria&nbsp;não&nbsp;tem&nbsp;idade</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 my-2">
            <div class="position-relative">
                <img class="w-100" src="https://i.imgur.com/zWWN2DA.png" alt="">
                <div class="position-absolute dados bg-cian" style="margin-right: -30px; border-radius: 8px;">
                    <h3 class="text-right text text-uppercase m-4">Movimento&nbsp;é&nbsp;vida</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 my-2">
            <div class="position-relative">
                <img class="w-100" src="https://i.imgur.com/yHMytNA.png" alt="">
                <div class="position-absolute dados bg-cian" style="margin-right: -30px; border-radius: 8px;">
                    <h3 class="text-right text text-uppercase m-4">Saúde&nbsp;e&nbsp;bem-estar</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 my-2">
            <div class="position-relative">
                <img class="w-100" src="https://i.imgur.com/Fe8ED34.png" alt="">
                <div class="position-absolute dados bg-cian" style="margin-right: -30px; border-radius: 8px;">
                    <h3 class="text-right text text-uppercase m-4">Ambiente&nbsp;familiar</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 my-2">
            <div class="position-relative">
                <img class="w-100" src="https://i.imgur.com/Imh2ZgS.png" alt="">
                <div class="position-absolute dados bg-cian" style="margin-right: -30px; border-radius: 8px;">
                    <h3 class="text-right text text-uppercase m-4">Alegria&nbsp;não&nbsp;tem&nbsp;idade</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 my-2">
            <div class="position-relative">
                <img class="w-100" src="https://i.imgur.com/yQ02ksY.png" alt="">
                <div class="position-absolute dados bg-cian" style="margin-right: -30px; border-radius: 8px;">
                    <h3 class="text-right text text-uppercase m-4">Gratidão&nbsp;sempre</h3>
                </div>
            </div>
        </div>
    </div>
</div>