<div class="container">
    <header class="d-flex justify-content-center py-3 public-default-background" style="border-radius: 8px;">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a href="#" class="nav-link text-white" aria-current="page">Home</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link text-white">PRINCIPAL</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link text-white">QUEM SOMOS</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link text-white">EQUIPE</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link text-white">GALERIA</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link text-white">PARCEIROS</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link text-white">CONSULTA PÚBLICA</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link text-white">CONTATO</a>
            </li>
            @* <li class="nav-item"> *@
            @*     <a href="#" class="nav-link"> *@
            @*         <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16"> *@
            @*           <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/> *@
            @*         </svg> *@
            @*     </a> *@
            @* </li> *@
        </ul>
    </header>
</div>