<div id="confort" class="container mt-5 mb-5">
    <div class="oc-row" style="">
        <div class="col-md-4 col-sm-12">
            <div class="card bg-transparent border-0">
              <img alt="..." class="card-img-top" height="192" src="/media/images/general/Degree-amico.svg" width="192">
              <div class="card-body">
                <h5 class="card-title text-center"><b>Quartos climatizados</b></h5>
                <p class="card-text text-center">Todos os quartos tem ar condicionados que foram adquiridos através de doações.</p>
              </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="card bg-transparent border-0">
              <img alt="..." class="card-img-top" height="192" src="/media/images/general/Insomnia-pana.svg" width="192">
              <div class="card-body">
                <h5 class="card-title text-center"><b>Quartos compartilhados</b></h5>
                <p class="card-text text-center">Aqui os quartos tem de 2 a 6 camas. Assim os idosos sempre tem companhia.</p>
              </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="card bg-transparent border-0">
              <img alt="..." class="card-img-top" height="192" src="/media/images/general/Chilling-pana.svg" width="192">
              <div class="card-body">
                <h5 class="card-title text-center"><b>Ambiente confortável</b></h5>
                <p class="card-text text-center">Os ambientes contam com camas e sofás ortopédicas para melhor conforto.</p>
              </div>
            </div>
        </div>
    </div>
</div>