<div class="container">
    <!-- Carrousel -->
    <div id="carouselExampleDark" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-controll-items">
            <a aria-current="true" aria-label="Slide 1" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="carousel-control-items-visual"></a>
            <a aria-label="Slide 2" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" class="carousel-control-items-visual"></a>
            <a aria-label="Slide 3" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" class="carousel-control-items-visual"></a>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active oldcare-carousell-item" data-bs-interval="3000">
                <div class="d-none d-md-block col-6 oldcare-carousel-caption text-white">
                    <h1>
                        Cuidado
                    </h1>
                    <p>
                        Envelhecer é inevitável<br/> ficar velho é opcional.
                    </p>
                </div>
                <a class="oc-btn oc-default-button" href=#>Saiba mais <i class="bi bi-arrow-right"></i></a>
            </div>
            <div class="carousel-item oldcare-carousell-item" data-bs-interval="3000">
                <div class="d-none d-md-block col-6 oldcare-carousel-caption text-white">
                    <h1>
                        Solidariedade
                    </h1>
                    <p>
                        Cuidar de nossos idosos<br/> é preservar a nossa história.
                    </p>
                </div>
                <a class="oc-btn oc-default-button" href=#>Saiba mais <i class="bi bi-arrow-right"></i></a>
            </div>
            <div class="carousel-item oldcare-carousell-item" data-bs-interval="3000">
                <div class="d-none d-md-block col-6 oldcare-carousel-caption text-white">
                    <h1>
                        Respeito
                    </h1>
                    <p>
                        Respeitar as pessoas idosas<br/> é tratar o próprio futuro com respeito.
                    </p>
                </div>
                <a class="oc-btn oc-default-button" href=#>Saiba mais <i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
