<div class="container">
    <div class="carousel-inner w-100">
        <div class="carousel-item oldcare-carousell-item active" data-bs-interval="3000">
            <div class="d-none d-md-block col-6 oldcare-carousel-caption">
                <h1>
                    Cuidado
                </h1>
                <p>
                    Envelhecer é inevitável<br> ficar velho é opcional.
                </p>
                <a class="oc-btn oc-default-button" href="#">
                    <b>Saiba mais</b>
                </a>
            </div>
        </div>
        <div class="carousel-item oldcare-carousell-item" data-bs-interval="3000">
            <div class="d-none d-md-block col-6 oldcare-carousel-caption">
                <h1>
                    Solidariedade
                </h1>
                <p>
                    Cuidar de nossos idosos<br> é preservar a nossa história.
                </p>
                <a class="oc-btn oc-default-button" href="#">
                    <b>Saiba mais</b>
                </a>
            </div>
        </div>
        <div class="carousel-item oldcare-carousell-item" data-bs-interval="3000">
            <div class="d-none d-md-block col-6 oldcare-carousel-caption">
                <h1>
                    Respeito
                </h1>
                <p>
                    Respeitar as pessoas idosas<br> é tratar o próprio futuro com respeito.
                </p>
                <a class="oc-btn oc-default-button" href="#">
                    <b>Saiba mais</b>
                </a>
            </div>
        </div>
    </div>
</div>