<section id="quem-somos" style="background-image: url('https://i.imgur.com/pS5bo5Q.png');">
    <div class="container">
        <div class="row">
            <div id="carouselExampleDark" data-bs-ride="carousel" class="pointer-event">
                <div class="carousel-inner">
                    <div class="carousel-item active oldcare-carousell-item">
                        <div class="d-none d-md-block col-6 oldcare-carousel-caption text-white">
                            <h1>
                                Amar<br> e cuidar
                            </h1>
                            <p>
                                Envelhecer é inevitável<br> ficar velho é opcional.
                            </p>
                            <a class="oc-btn oc-default-button" href="#">Saiba mais <i class="bi bi-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>