@* @model TModel *@

@{
    ViewData["Title"] = "Cadastrar residente";
}

<section xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <div id="header" class="row oc-view-header-default">
        <div class="col-10">
            <h1 class="oc-view-title-default">
                <strong>Cadastrar Pessoa</strong>
            </h1>
            <h2 class="oc-view-subtitle-default oc-text-light-gray">Preencha os dados de endereço para finalizar.</h2>
        </div>
    </div>

    <div class="oc-steps" style="width: 100px;">
        <ul class="navbar" type="none">
            <li>
                <a>1</a>
            </li>
            <li>
                <a>2</a>
            </li>
        </ul>
    </div>

    <form class="row mt-5">
        <div class="col-9">
            <div class="row">
                <div class="col-12">
                    <div class="row mb-4">
                        <div class="col-8">
                            <div class="row">
                                <label class="col-3">Logradouro:</label>
                                <input class="col-9 oc-form-control" type="text"/>
                                <span class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="row">
                                <span class="col-4"></span>
                                <label class="col-4">Número:</label>
                                <input class="col-4 oc-form-control" type="text"/>
                                <span class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row mb-4">
                        <div class="col-6">
                            <div class="row">
                                <label class="col-4">Bairro:</label>
                                <input class="col-8 oc-form-control" type="text"/>
                                <span class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="row">
                                <span class="col-1"></span>
                                <label class="col-3">Cidade:</label>
                                <input class="col-8 oc-form-control" type="text"/>
                                <span class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row mb-4">
                        <div class="col-6">
                            <div class="row">
                                <label class="col-4">Estado:</label>
                                <input class="col-8 oc-form-control" type="text"/>
                                <span class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="row">
                                <span class="col-1"></span>
                                <label class="col-3">Cep:</label>
                                <input class="col-8 oc-form-control" type="text"/>
                                <span class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row mb-5">
                        <div class="col-12">
                            <div class="row">
                                <label class="col-2">Observação:</label>
                                <textarea class="col-10 oc-form-control"></textarea>
                                <span class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col px-5 align-self-end text-end">
                <a asp-area="Backoffice" asp-action="CreateStart" asp-controller="Person" class="col-5 color-default oc-dark-btn oc-text-decoration-none">Voltar</a>
                <a class="col-7 color-default oc-dark-btn oc-text-decoration-none" href="">Avançar</a>
            </div>
        </div>
    </form>

</section>