@model List<Resident>

@{
    ViewData["Title"] = "Residentes";
}

<a asp-action = "Create">Cadastrar Residente</a>

@foreach(var resident in Model){
    <div>
        <div>
            <h1>@resident.Person.Name</h1>
            <p>@resident.Person.BirthDate</p>
            <a asp-action="Edit"  asp-route-residentId="@resident.Id">Editar</a>
        </div>        
    </div>
    <hr>
}