.bg-oldcare {
    background-image: url("/media/images/backgrounds/publichome-background.png");
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 600px;
}

.login-background {
    background-image: url("/media/images/backgrounds/waves.png");
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

.bg-cian {
    background-color: var(--public-default);
}