/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

:root {
    --oc-black: #0a0a0a;
    --oldcare-blue: #0070E6;
    --oldcare-light-blue: #00CDFF;
    --oldcare-ocean-blue: #2A93C9;
    --oldcare-green: #00ED53;
    --oldcare-light-green: #00CA8A;
    --oldcare-gray: #292D30;
    --oldcare-light-gray: #81838C;
    --oc-transparent-gray: #F7F7F7;
    --oc-white-ice: #DFE0EB;
    --oc-white: #F5F5F5;
    --oc-white-60: rgba(245, 245, 245, 0.6);
    --oc-deep-ocean-blue: #193278;
    --oc-green-hope: #37F092;
    --oc-green-hope-30: rgba(55, 240, 146, 0.3);
    --oc-opaque-green: #98F5C6;
    --oc-dark: #0E1D47;
}

@font-face {
    font-family: Poppins;
    src: url(/lib/fonts/poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: Poppins-Light;
    src: url(/lib/fonts/poppins/Poppins-Light.ttf);
}

@font-face {
    font-family: Poppins-Bold;
    src: url(/lib/fonts/poppins/Poppins-Bold.ttf);
}

.font-poppins-regular {
    font-family: Poppins;
}

.font-poppins-light {
    font-family: Poppins-Light;
}

/* ########## Spacing ########## */
.oc-pt-24 {
    padding-top: 24%;
}

.oc-ml-5 {
    margin-left: 5%;
}

/* background-colors */
.oc-default-private-bg {
    background-image: url(/lib/media/site/images/clean-logo.png);
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-size: 120%;
    background-position: 10vw 10vh;
    background-repeat: no-repeat;
}

.oc-default-bg {
    background-image: url(/lib/media/site/images/publichome-background.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 150vh;
}

.oc-ocean-blue-bg {
    background-color: var(--oldcare-ocean-blue);
}

.oc-deep-ocean-blue-bg {
    background-color: var(--oc-deep-ocean-blue);
}

.oc-hope-green-bg {
    background-color: var(--oc-green-hope);
}

/* ########## Texts ########## */
.oc-text-decoration-none {
    text-decoration: none;
}

.oc-text-decoration-none:visited {
    text-decoration: none;
}

.oc-text-decoration-none:hover {
    text-decoration: none;
}

.color-default {
    color: var(--oc-white) !important;
}

.oc-text-dark {
    color: var(--oc-dark);
}

.oc-text-light-gray {
    color: var(--oldcare-light-gray);
}

.gray-text {
    color: var(--oldcare-gray);
}

.invisible-text {
    color: transparent;
}

.hope-green-text {
    color: var(--oc-green-hope);
}

.oc-person-link {
    color: var(--oc-black);
    text-decoration: none;
}

.oc-person-link:hover {
    color: var(--oc-black);
}

.oc-top-left-name h1 {
    color: var(--oldcare-light-gray);
    font-size: 10pt;
    text-align: right;
}

.oc-top-left-name h2 {
    color: var(--oldcare-light-gray);
    font-size: 8pt;
    text-align: right;
}

/* ########## Links ########## */
.oc-breadcrumb-link {
    color: var(--oc-black);
    font-size: 10pt;
    text-decoration: none;
}

.oc-breadcrumb-link:hover {
    color: var(--oldcare-blue);
}

.oc-breadcrumb-here {
    font-size: 10pt;
    margin-top: 1.5%;
}

/* ########## Menus ########## */
.oc-side-menu {
}

.oc-side-menu li {
    display: inline-flex;
}

.oc-side-menu li a {
    opacity: 30%;
}

.oc-side-menu li a:hover {
    opacity: 100%;
}

.oc-side-menu li a {
    opacity: 100%;
}

.oc-side-menu-link {
    opacity: 30% !important;
}

.oc-side-menu-link:hover {
    opacity: 100% !important;
}

.active {
    opacity: 100%;
}

.oc-dark-btn {
    background-color: var(--oc-deep-ocean-blue);
    padding: 5px 18px 5px 18px;
    border-radius: 8px;
    box-shadow: 2px 2px 3px gray;
}

.oc-active-view-label {
    position: fixed;
    background-color: var(--oc-green-hope);
    width: max-content;
    display: flex;
    align-items: center;
    height: 11%;
    top: 14%;
    left: 2%;
    border-radius: 10px;
}

/* ########## Containers ########## */
.oc-view-default {
    background-color: #FFFFFF;
    height: 76.5%;
    border: 1px solid var(--oc-white-ice);
    border-radius: 8px;
    margin: 10%;
}

/* ########## Container Items ########## */
.oc-view-header-default {
    margin-top: 2.5% !important;
}

.oc-view-title-default {
    font-size: 16pt;
    font-family: Poppins-Bold;
}

.oc-view-subtitle-default {
    font-size: 8pt;
    margin-top: -0.8%;
}

.oc-view-left-title-default {
    font-size: 8pt;
    font-family: Poppins-Bold;
}

/* ########## Cards ########## */
.oc-person-details-card {
    background-color: var(--oc-white-60);
    border-left: 4px solid var(--oc-opaque-green);
    border-radius: 4px;
    justify-items: flex-start;
    min-width: 250px;
    padding: 1.3% 0%;
    transition: 0.3s;
    width: 20%;
}

.oc-person-details-card:hover {
    margin-top: -0.5%;
}

.oc-person-details-card h1 {
    font-size: 10pt;
    font-family: Poppins-Bold;
    margin-top: 10%;
}

.oc-person-details-card h2 {
    margin-top: -8%;
    font-size: 10pt;
}

.oc-person-details-card-details {
}

.oc-steps {
    height: 45px;
    background-color: var(--oc-green-hope-30);
    border-radius: 0px 8px 8px 0px;
    left: 31.1%;
    position: absolute;
    top: 16.5%;
}

.oc-btn-gradient {
    margin-left: 50px;
    padding: 5px 0;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    background-image: linear-gradient(165deg, #A1FF8B 0%, #3F93FF 40.83%);
    border-radius: 10px;
    display: block;
    text-decoration: none;
    color: white;
}

.oc-btn-gradient:hover {
    background-position: right left;
    background-image: linear-gradient(165deg, #3F93FF 0%, #A1FF8B 40.83%);
}

.oc-default-menu {
    display: flex;
    justify-content: center;
    margin: 0px;
    width: 100%;
}

.oc-default-menu-item {
    color: white;
    padding: 1% 3.93%;
    text-decoration: none;
}

.oc-default-menu-item:hover {
    background-color: #2684B5;
    color: white;
}

/* ########## Forms ########## */
.oc-form-control {
    background-color: var(--oc-transparent-gray) !important;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 6px 6px 0px 0px;
}

/* ########## Carrousels ########## */

.caroussel-controll-items {
    position: absolute;
    z-index: 2;
}

.caroussel-control-items-visual {
    height: 0.50rem;
    width: 0.50rem;
    background-color: lightgray;
    display: inline-block;
    border-radius: 50%;
    margin-top: 300px;
}

.caroussel-control-items-visual:hover {
    background-color: dimgray;
    color: red;
}

.caroussel-control-items-visual:active {
    background-color: darkslategray;
}

.carousel-inner {
    height: 350px;
}

.oldcare-carousel-caption {
    width: 100%;
    height: 150px;
    margin-top: 70px;
    overflow: hidden;
    color: white;
}

.oldcare-carousel-caption h1 {
    font-size: 64px;
}

.oldcare-carousel-caption p {
    font-size: 24px;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.image-center {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}
/*
.horizontal-menu {
    background-color: var(--oc-green-hope);
    width: max-content;
    display: flex;
    align-items: center;
}
*/