/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

:root {
    --oldcare-blue: #0070E6;
    --oldcare-light-blue: #00CDFF;
    --oldcare-ocean-blue: #2A93C9;
    --oldcare-green: #00ED53;
    --oldcare-light-green: #00CA8A;
    --oldcare-gray: #292D30;
    --oldcare-light-gray: #81838C;
    --oldcare-white: #F5F5F5;
    --oc-deep-ocean-blue: #193278;
    --oc-green-hope: #37F092;
}

@font-face {
    font-family: Poppins;
    src: url(/lib/fonts/poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: Poppins-Light;
    src: url(/lib/fonts/poppins/Poppins-Light.ttf);
}

.font-poppins-regular {
    font-family: Poppins;
}

.font-poppins-light {
    font-family: Poppins-Light;
}

/* background-colors */
.oc-default-private-bg {
    background-image: url(/lib/media/site/images/clean-logo.png);
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-size: 120%;
    background-position: 10vw 10vh;
    background-repeat: no-repeat;
}

.oc-default-bg {
    background-image: url(/lib/media/site/images/publichome-background.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 150vh;
}

.oc-ocean-blue-bg {
    background-color: var(--oldcare-ocean-blue);
}

.oc-deep-ocean-blue-bg {
    background-color: var(--oc-deep-ocean-blue);
}

.oc-hope-green-bg {
    background-color: var(--oc-green-hope);
}

/* text-colors */
.color-default {
    color: var(--oldcare-white) !important;
}

.gray-text {
    color: var(--oldcare-gray);
}

.invisible-text {
    color: transparent;
}

.hope-green-text {
    color: var(--oc-green-hope);
}

/* Menus */
.oc-side-menu {
}

.oc-side-menu li a {
    opacity: 30%;
}

    .oc-side-menu li a:hover {
        opacity: 100%;
    }

    .oc-side-menu li a
    .active {
        opacity: 100%;
    }

.oc-btn {
}



.oc-btn-gradient {
    margin-left: 50px;
    padding: 5px 0;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    background-image: linear-gradient(165deg, #A1FF8B 0%, #3F93FF 40.83%);
    border-radius: 10px;
    display: block;
    text-decoration: none;
    color: white;
}

    .oc-btn-gradient:hover {
        background-position: right left;
        background-image: linear-gradient(165deg, #3F93FF 0%, #A1FF8B 40.83%);
    }


.oc-default-menu {
    display: flex;
    justify-content: center;
    margin: 0px;
    width: 100%;
}

.oc-default-menu-item {
    color: white;
    padding: 1% 3.93%;
    text-decoration: none;
}

    .oc-default-menu-item:hover {
        background-color: #2684B5;
        color: white;
    }

.caroussel-controll-items {
    position: absolute;
    z-index: 2;
}

.caroussel-control-items-visual {
    height: 0.50rem;
    width: 0.50rem;
    background-color: lightgray;
    display: inline-block;
    border-radius: 50%;
    margin-top: 300px;
}

    .caroussel-control-items-visual:hover {
        background-color: dimgray;
        color: red;
    }

    .caroussel-control-items-visual:active {
        background-color: darkslategray;
    }

.carousel-inner {
    height: 350px;
}

.oldcare-carousel-caption {
    width: 100%;
    height: 150px;
    margin-top: 70px;
    overflow: hidden;
    color: white;
}

    .oldcare-carousel-caption h1 {
        font-size: 64px;
    }

    .oldcare-carousel-caption p {
        font-size: 24px;
    }

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.image-center {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

/* temporário */
.oc-btn-transition-right {
    z-index: 5;
}

.dar .fas.fa-arrow-right {
    background-color: red;
    position: absolute;
    height: 10vh;
    left: 4vw;
    width: 64px;
    opacity: 1;
    transform: translateX(50%);
    transition: all 0.5s ease;
    visibility: collapse;
    border-radius: 15px;
}

.dar:hover .fas.fa-arrow-right {
    position: absolute;
    left: -22vw;
    width: 100vh;
    opacity: 1;
    visibility: visible;
}