@using OldCare.Contexts.SharedContext.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model OldCare.Contexts.PersonContext.UseCases.Create.Request

@{

}

<div class="oc-row">
    <div class="col-12">
        <div class="col-12 d-flex">
            <div class="col-9">
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-area="Account" asp-controller="Profile" asp-action="Home" style="text-decoration: none;">OldCare</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Pessoas</li>
                    </ol>
                </nav>
            </div>
            <div class="col-3 d-flex">
                <div class="progresses">
                    <div class="steps bg-cian">
                        <span>
                            <span class="font-weight-bold">1</span>
                        </span>
                    </div>
                    <span class="line"></span>
                    <div class="steps">
                        <span>
                            <span class="font-weight-bold">2</span>
                        </span>
                    </div>
                    <span class="line"></span>
                    <div class="steps">
                        <span class="font-weight-bold">3</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-light container-fluid p-5" style="border-radius: 8px; height: 85vh;">
    <h2>
        <b>ADICIONAR PESSOA</b>
    </h2>
    <p>Dados de endereço da pessoa a ser adicionada.</p>

    <form asp-action="" method="post" class="row">
        
        <!-- Hidden form fields -->
            
        <input asp-for="ZipCode" type="text" class="form-control" hidden readonly>
        <input asp-for="Street" type="text" class="form-control" hidden readonly>
        <input asp-for="AddressNumber" type="text" class="form-control" hidden readonly>
        <input asp-for="Complement" type="text" class="form-control" hidden  readonly>
        <input asp-for="District" type="text" class="form-control" hidden readonly>
        <input asp-for="City" type="text" class="form-control" hidden readonly>
        <select asp-for="State" asp-items="Html.GetEnumSelectList<EBrazilianStates>()" class="form-control" readonly hidden>
        </select>
        <input asp-for="Notes" type="text" class="form-control" hidden  readonly>
        
        <input asp-for="FullNumber" type="text" class="form-control" hidden readonly>
        <input asp-for="MotherName" type="text" class="form-control" hidden readonly>
        <input asp-for="FatherName" type="text" class="form-control" hidden readonly>
        <input asp-for="Obs" type="text" class="form-control" hidden  readonly>    
        <!-- End of hidden form fields -->
        
        <div class="col-2">
            <img src="~/media/images/general/person-circle.svg" width="96" class="rounded mx-auto d-block" alt="...">
        </div>
        <div class="col-8">
            <div class="mb-3 row">
                <div class="col-6">
                    <div class="mb-3 row">
                        <label asp-for="FirstName" class="col-sm-3 col-form-label">Nome</label>
                        <div class="col-sm-9">
                            <input asp-for="FirstName" type="text" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="mb-3 row">
                        <label asp-for="LastName" class="col-sm-3 col-form-label">Sobrenome</label>
                        <div class="col-sm-9">
                            <input asp-for="LastName" type="text" class="form-control">
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-3 row">
                <div class="col-6">
                    <div class="mb-3 row">
                        <label asp-for="BirthDate" class="col-sm-3 col-form-label">Nascimento</label>
                        <div class="col-sm-9">
                            <input asp-for="BirthDate" type="date" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="mb-3 row">
                        <label asp-for="Gender" class="col-sm-3 col-form-label">Sexo</label>
                        <div class="col-sm-9">
                            <select asp-items="Html.GetEnumSelectList<EGender>()" asp-for="Gender" class="form-control">

                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-3 row">
                <div class="col-6">
                    <div class="mb-3 row">
                        <label asp-for="Nationality" class="col-sm-3 col-form-label">Nacionalidade</label>
                        <div class="col-sm-9">
                            <input asp-for="Nationality" type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="mb-3 row">
                        <label asp-for="Citizenship" class="col-sm-3 col-form-label">Naturalidade</label>
                        <div class="col-sm-9">
                            <input asp-for="Citizenship" type="text" class="form-control">
                        </div>
                    </div>
                </div>
            </div>

            <hr>

            <div class="mb-3 row">
                @* <div class="col-6"> *@
                @*     <div class="mb-3 row"> *@
                @*         <label asp-for="Gender" class="col-sm-3 col-form-label">Documento</label> *@
                @*         <div class="col-sm-9"> *@
                @*             <select asp-for="Gender" asp-items="Html.GetEnumSelectList<EGender>()" class="form-control"> *@
                @*                 <option selected>Selecione</option> *@
                @*             </select> *@
                @*         </div> *@
                @*     </div> *@
                @* </div> *@
                <div class="col-6">
                    <div class="mb-3 row">
                        @* <label asp-for="AddressNumber" class="col-sm-3 col-form-label">Número</label> *@
                        @* <div class="col-sm-6"> *@
                        @*     <input asp-for="AddressNumber" type="text" class="form-control"> *@
                        @* </div> *@
                        <div class="col-sm-3">
                            <button class="btn oc-btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Adicionar novo documento">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-plus-fill" viewBox="0 0 16 16">
                                    <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM8.5 7v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 1 0z"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="w-100 text-end">
                <button asp-area="Person" asp-action="GetNewPerson" asp-controller="Person" type="submit" class="btn oc-btn-primary">Continuar</button>
            </div>
        </div>
        <div class="col-2" asp-validation-summary="All"></div>
    </form>
</div>