@{

}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-area="Account" asp-controller="Profile" asp-action="Home" style="text-decoration: none;">OldCare</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Pessoas</li>
    </ol>
</nav>

<div class="bg-light container-fluid p-5" style="border-radius: 8px; height: 85vh;">
    <a asp-action="Create" type="button" class="btn oc-btn-primary">Adicionar</a>
</div>