@model List<History>

@{
    ViewData["Title"] = "Histórico";
}

<a asp-action="Create">Cadastrar Hitórico de Lançamento</a>

@foreach (var history in Model)
{
    <div>
        <div>
            <h1>@history.Description=</h1>
            <p>@history.HistoryType</p>
            <a asp-area="Backoffice" asp-action="Edit" asp-controller="History" asp-route-personId="@history.Id">Editar</a>
        </div>
    </div>
    <hr/>
}