@model OldCare.Core.ViewModels.Resident.CreateResidentViewModel

@{
    ViewData["Title"] = "Cadastrar Residente";
}

<form>
    <div asp-validation-summary="ModelOnly" class="uk-form-danger"></div>
    <div class="mb-3">
        <label asp-for="Persons" class="form-label">Naturalidade</label>
        <select asp-for="Persons" class="form-control">
            <option selected>Selecione</option>
            @foreach(var item in Model.Persons)
            {
              <option value="@item.Id">@item.Name</option>  
            }
        </select>
        <span asp-validation-for="Persons" class="uk-text-danger"></span>
    </div>


    @*<div class="mb-3">
        <label asp-for="BirthDate" class="form-label">Data de nascimento</label>
        <input asp-for="BirthDate" type="datetime-local" class="form-control">
        <span asp-validation-for="BirthDate" class="uk-text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Citizenship" class="form-label">Naturalidade</label>
        <select asp-for="Citizenship" class="form-control">
            <option selected>Selecione</option>
            <option value="AC">Acre</option>
            <option value="AL">Alagoas</option>
            <option value="AP">Amapá</option>
            <option value="AM">Amazonas</option>
            <option value="BA">Bahia</option>
            <option value="CE">Ceará</option>
            <option value="DF">Distrito Federal</option>
            <option value="ES">Espirito Santo</option>
            <option value="GO">Goiás</option>
            <option value="MA">Maranhão</option>
            <option value="MT">Mato Grosso</option>
            <option value="MS">Mato Grosso do Sul</option>
            <option value="MG">Minas Gerais</option>
            <option value="PA">Pará</option>
            <option value="PB">Paraíba</option>
            <option value="PR">Paraná</option>
            <option value="PE">Pernambuco</option>
            <option value="PI">Piauí</option>
            <option value="RJ">Rio de Janeiro</option>
            <option value="RN">Rio Grande do Norte</option>
            <option value="RS">Rio Grande do Sul</option>
            <option value="RO">Rondônia</option>
            <option value="RR">Roraima</option>
            <option value="SC">Santa Catarina</option>
            <option value="SP">São Paulo</option>
            <option value="SE">Sergipe</option>
            <option value="TO">Tocantins</option>
        </select>
        <span asp-validation-for="Citizenship" class="uk-text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="CEP" class="form-label">CEP</label>
        <input asp-for="CEP" type="text" class="form-control">
        <span asp-validation-for="CEP" class="uk-text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="City" class="form-label">Cidade</label>
        <input asp-for="City" type="text" class="form-control">
        <span asp-validation-for="City" class="uk-text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="CPF" class="form-label">CPF</label>
        <input asp-for="CPF" type="text" class="form-control">
        <span asp-validation-for="CPF" class="uk-text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="District" class="form-label">Bairro</label>
        <input asp-for="District" type="text" class="form-control">
        <span asp-validation-for="District" class="uk-text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Gender" class="form-label">Gênero</label>
        <select asp-for="Gender" class="form-control">
            <option selected>Selecione</option>
            <option value="0">Feminino</option>
            <option value="1">Masculino</option>
        </select>
        <span asp-validation-for="Gender" class="uk-text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Note" class="form-label">Observação</label>
        <textarea asp-for="Note" class="form-control" rows="4"></textarea>
        <span asp-validation-for="Note" class="uk-text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="RG" class="form-label">RG</label>
        <input asp-for="RG" type="text" class="form-control">
        <span asp-validation-for="RG" class="uk-text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="UF" class="form-label">UF</label>
        <select asp-for="UF" class="form-control">
            <option selected>Selecione</option>
            <option value="AC">Acre</option>
            <option value="AL">Alagoas</option>
            <option value="AP">Amapá</option>
            <option value="AM">Amazonas</option>
            <option value="BA">Bahia</option>
            <option value="CE">Ceará</option>
            <option value="DF">Distrito Federal</option>
            <option value="ES">Espirito Santo</option>
            <option value="GO">Goiás</option>
            <option value="MA">Maranhão</option>
            <option value="MT">Mato Grosso</option>
            <option value="MS">Mato Grosso do Sul</option>
            <option value="MG">Minas Gerais</option>
            <option value="PA">Pará</option>
            <option value="PB">Paraíba</option>
            <option value="PR">Paraná</option>
            <option value="PE">Pernambuco</option>
            <option value="PI">Piauí</option>
            <option value="RJ">Rio de Janeiro</option>
            <option value="RN">Rio Grande do Norte</option>
            <option value="RS">Rio Grande do Sul</option>
            <option value="RO">Rondônia</option>
            <option value="RR">Roraima</option>
            <option value="SC">Santa Catarina</option>
            <option value="SP">São Paulo</option>
            <option value="SE">Sergipe</option>
            <option value="TO">Tocantins</option>
        </select>
        <span asp-validation-for="UF" class="uk-text-danger"></span>
    </div>*@

    <button class="btn btn-primary" type="submit">Salvar</button>
</form>

