<div class="col-xl-3">
    <nav class="navbar navbar-light navbar-expand-xl mx-0">
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header bg-light">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Meu perfil</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body p-3 p-xl-0">
                <div class="bg-dark border rounded-3 pb-0 p-3 w-100">
                    <div class="list-group list-group-dark list-group-borderless">
                        <a class="list-group-item" href=""><i class="bi bi-ui-checks-grid fa-fw me-3"></i>Dashboard</a>
                        <a class="list-group-item" href=""><i class="bi bi-basket fa-fw me-3"></i>Meus cursos</a>
                        <a class="list-group-item" href=""><i class="bi bi-question-diamond fa-fw me-3"></i>Minhas avaliações</a>
                        <a class="list-group-item" href=""><i class="bi bi-star fa-fw me-3"></i>Minhas Revisões</a>
                        <hr/>
                        <a class="list-group-item" asp-action="Edit"><i class="bi bi-person fa-fw me-3"></i>Meu perfil</a>
                        <a class="list-group-item" asp-action="ChangeEmail"><i class="bi bi-envelope fa-fw me-3"></i>Meu E-mail</a>
                        <a class="list-group-item" asp-action="ChangePassword"><i class="bi bi-key fa-fw me-3"></i>Alterar Senha</a>
                        <hr/>
                        <a class="list-group-item" href=""><i class="bi bi-folder-check fa-fw me-3"></i>Meu Premium</a>
                        <a class="list-group-item" href=""><i class="bi bi-wallet2 fa-fw me-3"></i>Pagamentos</a>
                        <hr/>
                        <a class="list-group-item" href=""><i class="bi bi-gear fa-fw me-3"></i>Configurações</a>
                        <a class="list-group-item" asp-action="Delete"><i class="bi bi-trash fa-fw me-3"></i>Deletar perfil</a>
                        <a class="list-group-item text-danger bg-danger-soft-hover" href=""><i class="fas fa-sign-out-alt fa-fw me-3"></i>Sair</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>