@{
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-action="Index" asp-controller="Home">Principal</a>
        </li>

        <li class="breadcrumb-item active" aria-current="page">Pessoas</li>
    </ol>
</nav>

<a asp-action="Create" class="btn btn-primary">Cadastrar pessoa</a>