@{
    Layout = "_Layout";
    ViewData["Title"] = "Políticas de cancelamento";
    ViewData["Description"] = "Conheça nossas políticas de cancelamento!";
    ViewData["Keywords"] = "balta, politica, cancelamento, conta";
    ViewData["URL"] = "https://balta.io/politicas/cancelamento";
    // TODO: Retificar imagem
    ViewData["Image"] = "https://baltastorage.blob.core.windows.net/public/site/assets/images/comecar.png";
}

<section class="bg-light">
    <div class="container">
        <div class="main-content">
            <div class="row">
                <div class="col-12">
                    <div class="my-5">
                        <h1>Política de Cancelamento</h1>
                        
                            <p>
                                O balta.io (“a plataforma”) fornece um serviço de assinatura que permite que nossos assinantes (“alunos”, “aluno-assinante”, “alunos matriculados”) acessem treinamentos online, através de vídeo-aulas, material de apoio e outras gravações ("conteúdo do balta.io") transmitidos pela Internet para determinados computadores e outros aparelhos conectados à Internet. <br>
                                <br>
                                O serviço é fornecido a você por <strong>ALVES & BALTIERI INFORMATICA LTDA - ME</strong>, regularmente registrada sob o <strong>CNPJ nº 21.108.579/0001-80</strong>. Estes Termos de uso regem seu uso do serviço balta.io. Usados nestes Termos de uso, os termos "serviço balta.io", "nosso serviço" ou "o serviço" significam o serviço fornecido pelo balta.io, que permite a descoberta e reprodução de conteúdo da plataforma, incluindo todos os recursos e funcionalidades, código-fonte, material de apoio, o site e as interfaces do usuário, assim como todo o conteúdo e software associados ao serviço.
                            </p>
                        
                            <h2>Assinatura</h2>
                            <ol>
                                <li class="pb-3">Para acessar a plataforma você deve realizar seu cadastro (“matrícula”) e a aquisição de uma assinatura.</li>
                                <li class="pb-3">Sua assinatura balta.io será renovada automaticamente até que seja cancelada, de acordo com o período no momento da aquisição (mensal, semestral etc).</li>
                                <li class="pb-3">Para utilizar a plataforma, você precisa ter acesso à Internet e um aparelho compatível com o balta.io, bem como fornecer uma forma de pagamento atual, válida e aceita, que poderá ser atualizada ocasionalmente ("Forma de pagamento"). </li>
                                <li class="pb-3">A menos que cancele a assinatura antes da data de faturamento do período, você nos autoriza a cobrar o preço da assinatura do próximo período usando a sua Forma de pagamento (consulte "Cancelamento" abaixo). </li>
                                <li class="pb-3">A data de faturamento do período é um dia antes do seu último dia de acesso a plataforma. Por exemplo, caso uma assinatura mensal seja realizada no dia 04 de junho, seu período de acesso termina em 04 de julho e a renovação automática ocorrerá no dia 03 de julho.</li>
                                <li class="pb-3">Ao realizar a assinatura, você concorda em fornecer dados reais e fidedignos como seu nome completo, endereço residencial e de cobrança, documento de identificação pessoal (CPF), e-mail, entre outros, podendo, no caso contrário, incorrer em crime nas formas da Lei.</li>
                            </ol>
                        
                            <h2>Cobrança</h2>
                        
                            <ol>
                                <li class="pb-3"><strong>Ciclo de cobrança</strong>. O preço da assinatura do serviço balta.io e todos os outros encargos incorridos pelo seu uso do serviço, como impostos e possíveis taxas de transação, serão cobrados mensalmente da forma de pagamento no dia correspondente ao início do período de pagamento da assinatura. Em alguns casos, a data de pagamento poderá ser alterada. Por exemplo, se a Forma de pagamento não puder ser cobrada ou se a assinatura paga começou em um dia que não existe em um determinado mês. Tal ajuste poderá ser feito automaticamente pelo facilitador de pagamentos (i.e. gateway de pagamentos). O balta.io poderá solicitar uma autorização de sua Forma de pagamento em antecipação à sua assinatura ou para cobrir taxas relacionadas ao serviço. Tal autorização pode ter várias formas, como uma autorização no valor de até aproximadamente um mês de serviço no ato de sua inscrição. Em certos casos, seu saldo ou limite de crédito poderá ser reduzido para garantir a autorização durante seu o período de utilização gratuita.</li>
                                <li class="pb-3"><strong>Formas de pagamento</strong>. Você pode alterar a Forma de pagamento entrando em contato conosco através da página http://balta.io/Contato. Se o pagamento não for bem-sucedido, seja por motivo de expiração, fundos insuficientes ou outro, e você não alterar sua Forma de pagamento nem cancelar sua conta, poderemos suspender seu acesso ao serviço até obtermos uma Forma de pagamento válida. Ao atualizar sua Forma de pagamento, você nos autoriza a continuar a cobrar a Forma de pagamento atualizada e contínua responsável por todos os valores não recolhidos. Isso poderá alterar as datas de pagamento. Para algumas Formas de pagamento, a instituição financeira associada poderá cobrar determinadas taxas, como taxas sobre transações financeiras internacionais ou outras taxas relacionadas à Forma de pagamento. A cobrança de impostos locais pode variar de acordo com a Forma de pagamento usada. Consulte a instituição financeira da sua forma de pagamento para obter mais detalhes.</li>
                                <li class="pb-3"><strong>Cancelamento</strong>. Você pode cancelar sua assinatura balta.io quando quiser e continuará a ter acesso ao serviço balta.io até o fim do período de faturamento. Na medida permitida pelas leis aplicáveis, os pagamentos não são reembolsáveis e o balta.io não oferece reembolsos ou créditos por períodos de assinatura utilizados parcialmente ou por conteúdo balta.io não assistido. Para cancelar, acesse a página "Minha conta" e siga as instruções de cancelamento. Se você cancelar sua assinatura, sua conta será automaticamente fechada ao fim do período de cobrança em andamento. </li>
                                <li class="pb-3"><strong>Alterações de preços e planos do serviço</strong>. Ocasionalmente, poderemos alterar nossos planos e o preço de nosso serviço. No entanto, todas as alterações efetuadas nos preços ou planos do serviço somente serão aplicadas 30 dias após a notificação enviada a você. Os preços da assinatura também poderão ser ajustados automaticamente a cada ano ou com maior frequência, conforme permitido pela legislação vigente e segundo o Índice Geral de Preços do Mercado (IGP-M) publicado pela Fundação Getúlio Vargas ou outro índice equivalente aplicável ao serviço fornecido pelo balta.io</li>
                            </ol>
                        
                            <h2>Serviço balta.io</h2>
                        
                        
                            <ol>
                                <li class="pb-3"><strong>Para assinar o serviço balta.io</strong> você deve ter 18 anos ou ser maior de idade em seu estado, território ou país. Menores de 18 anos deverão realizar a assinatura em nome de seu Responsável Legal. O conteúdo da plataforma é recomendado para maiores de 16 anos de idade.</li>
                                <li class="pb-3"><strong>O serviço balta</strong>.io e todo o conteúdo visualizado por intermédio do serviço balta.io destina-se exclusivamente para uso pessoal e não comercial. Durante sua assinatura balta.io, o balta.io concede a você uma licença limitada, não exclusiva e não transferível para acessar o serviço balta.io e assistir ao conteúdo do balta.io. Com exceção à licença limitada descrita acima, nenhum outro direito, titularidade ou participação lhe é concedido. Você concorda em não utilizar o serviço para exibições públicas.</li>
                                <li class="pb-3"><strong>O balta.io altera regularmente o serviço</strong>, inclusive o catálogo de conteúdos. Além disso, diferentes aspectos do serviço são testados continuamente, incluindo o site, as interfaces de usuário, os recursos promocionais e a disponibilidade do conteúdo.</li>
                                <li class="pb-3"><strong>O conteúdo em vídeo do balta.io</strong> é disponibilizado através da plataforma Vimeo e deve ser consumido Online. É vedado ao aluno realizar o download das vídeo-aulas através de qualquer meio tecnológico, para qualquer tipo de  dispositivo ou fim, independente da motivação. Veja 4.2.</li>
                                <li class="pb-3"><strong>Os materiais de apoio</strong>, incluindo, mas não limitado a códigos-fontes, trechos de código e exemplos, mensagens trocadas via serviços de mensagens instantâneas, também compõe o conteúdo balta.io.</li>
                                <li class="pb-3"><strong>Você concorda em usar o serviço balta.io</strong>, incluindo todos os recursos e funcionalidades do mesmo, segundo todas as leis, regulamentos e códigos aplicáveis, assim como outras restrições de uso do serviço ou conteúdo previstas nas mesmas. Você concorda em não arquivar, reproduzir, distribuir, modificar, exibir, realizar , publicar, licenciar ou criar trabalhos derivados, colocar à venda ou utilizar (exceto nas formas expressamente autorizadas por estes Termos de uso) o conteúdo e as informações contidas ou obtidas do serviço balta.io ou por intermédio deste. Você também concorda em não: evadir, remover, alterar, desativar, degradar ou alterar quaisquer das proteções de conteúdo do serviço balta.io, usar qualquer robô, crawler, spider, scraper ou outros meios automatizados para acessar o serviço balta.io, descompilar, executar engenharia reversa ou desmembrar qualquer software ou outros produtos ou processos acessíveis pelo serviço balta.io, inserir qualquer código ou produto, manipular o conteúdo do serviço balta.io de qualquer forma ou usar métodos de data mining, coleta de dados ou extração de dados. Além disso, você concorda em não fazer upload, publicar, enviar por e-mail, comunicar ou transmitir de qualquer forma qualquer material designado para interromper, destruir ou limitar a funcionalidade de qualquer software, hardware ou equipamento de telecomunicações associado ao serviço balta.io, incluindo vírus de software, código, arquivos ou programas. O balta.io poderá cancelar ou restringir seu uso do serviço se você violar estes Termos de uso ou se envolver no uso ilegal ou fraudulento do serviço.</li>
                                <li class="pb-3"><strong>O acesso aos conteúdos balta.io</strong> depende de conexão à Internet. Você se responsabiliza por todas as tarifas de acesso à Internet. Recomenda-se uma conexão com largura de banda mínima de 1Mbps para utilização do serviço. Consulte seu provedor de acesso à internet para maiores detalhes.</li>
                                <li class="pb-3"><strong>As vídeo-aulas disponíveis</strong> na plataforma apresentam conteúdo de acordo com o método pedagógico do autor. Não são feitas afirmações ou garantias de resultado e aprendizado ao aluno, limitando-se os instrutores a apresentarem possibilidades de uso para as informações e conteúdos disponibilizados.</li>
                            </ol>
                        
                            <h2>Senhas e acesso à conta</h2>
                            <p>
                                O assinante que criou a conta balta.io e cuja Forma de pagamento é cobrada pelo serviço tem acesso e controle sobre a conta balta.io e não deve revelar a ninguém a senha ou os detalhes da Forma de pagamento associada à conta. Você é responsável por atualizar e manter a acuidade das informações fornecidas o balta.io relativas à sua conta. O balta.io poderá cancelar ou suspender a sua conta para proteger você, o balta.io ou nossos parceiros contra roubo de identidade ou outras atividades fraudulentas.
                            </p>
                        
                            <h2>Garantias e isenção de responsabilidades</h2>
                            <p>
                                O SERVIÇO balta.io É FORNECIDO "NO ESTADO EM QUE SE ENCONTRA”, SEM GARANTIAS OU CONDIÇÕES. ESPECIFICAMENTE, O NOSSO SERVIÇO PODE NÃO ESTAR LIVRE DE INTERRUPÇÕES OU ERROS. VOCÊ RENUNCIA A TODAS AS INDENIZAÇÕES POR DANOS ESPECIAIS, INDIRETOS E CONSEQUENTES CAUSADOS PELO balta.io. O balta.io NÃO É RESPONSÁVEL PELA QUALIDADE DA SUA CONEXÃO COM A INTERNET. <br>
                                <br>
                                Ressalvados os direitos definidos no Código de Defesa do Consumidor.
                            </p>
                        
                            <h2>Diversos</h2>
                            <ol>
                                <li class="pb-3"><strong>Legislação em vigor</strong>. Estes Termos de uso devem ser regidos por e interpretados de acordo com a legislação do Brasil.</li>
                                <li class="pb-3"><strong>Atendimento ao cliente</strong>. Para obter mais informações sobre o serviço balta.io e seus recursos, ou se precisar de ajuda com sua conta, acesse a página “Contato” em nosso site (balta.io/Contato).</li>
                                <li class="pb-3"><strong>Validade das cláusulas</strong>. Se qualquer disposição ou disposições desse Termos de uso forem consideradas inválidas, ilegais ou não aplicáveis, a validade, legalidade e aplicabilidade das demais disposições devem permanecer em pleno vigor.</li>
                                <li class="pb-3"><strong>Alterações dos Termos de uso e cessão</strong>. O balta.io poderá alterar estes Termos de uso ocasionalmente. Notificaremos você com pelo menos 30 dias de antecedência antes que os novos Termos de uso se apliquem a você. A qualquer momento, o balta.io poderá ceder ou transferir o nosso contrato com você, inclusive nossos direitos e obrigações associados. Você concorda em cooperar com o balta.io nessas cessões ou transferências.</li>
                                <li class="pb-3"><strong>Comunicações eletrônicas</strong>. Enviaremos informações relacionadas à sua conta (por exemplo, autorizações de pagamento, cobranças, alterações de senha ou forma de pagamento, mensagens de confirmação, notificações) somente em formato eletrônico como, por exemplo, por meio de emails para o endereço fornecido durante a inscrição.</li>
                                <li class="pb-3"><strong>Serviços de terceiros</strong>. A plataforma balta.io utiliza serviço de terceiros para entregar o conteúdo para o assinante. Ao realizar a assinatura balta.io, você concorda em compartilhar seus dados com serviços de terceiros para ter acesso ao conteúdo balta.io. Você deve aceitar as condições de uso e privacidade de cada serviço de terceiro antes de realizar a assinatura balta.io. Exemplo de serviços de terceiro é o GitHub, Vimeo.</li>
                                <li class="pb-3"><strong>Fica eleito o Foro da Comarca de Piracicaba</strong> para dirimir quaisquer questões decorrentes deste termo de uso.</li>
                            </ol>
                        
                            <h2>Política de white hat / divulgação responsável</h2>
                            <p>
                                Se você acredita ter encontrado uma vulnerabilidade de segurança na plataforma balta.io, avise-nos imediatamente enviando um e-mail para hello@balta.io com o assunto “White hat”. Nós investigaremos sua denúncia e corrigiremos o problema rapidamente. <br>
                                <br>
                                Você não será processado judicialmente desde que: Nos dê um tempo razoável para mitigar o problema relatado antes de tornar pública a falha relatada (ou informações relacionadas); Não acesse ou modifique contas individuais sem o consentimento do proprietário; Não cause propositalmente a degradação de performance ou interrupção do serviço para outros usuários (ex: DDoS Attack), ou ainda a destruição de dados; E não explore o problema descoberto para benefício próprio ou de outros, ainda que para demonstrar a falha. <br>
                                <br>
                                Você poderá ser recompensado à exclusivo critério do balta.io.
                            </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<partial name="Partials/_FooterPartial"/>