@{
    Layout = "_Layout";
    ViewData["Title"] = "Políticas de privacidade";
    ViewData["Description"] = "Conheça nossas políticas de privacidade!";
    ViewData["Keywords"] = "balta, politica, privacidade, cookie";
    ViewData["URL"] = "https://balta.io/politicas/privacidade";
    // TODO: Retificar imagem
    ViewData["Image"] = "https://baltastorage.blob.core.windows.net/public/site/assets/images/comecar.png";
}

<section class="bg-light">
<div class="container">

<div class="main-content">
<div class="row">
<div class="col-12">
    <div class="my-5">
        <h1>Política de Privacidade</h1>

        <p>
            A Política de Privacidade é o instrumento com o objetivo de informar VISITANTES, USUÁRIOS ou CLIENTES balta.io (“Você”), que é desenvolvido por <strong>ALVES & BALTIERI INFORMATICA LTDA</strong> inscrita no CNPJ 21.108.579/0001-80 (“Nos”/“Nós”), como as informações são coletadas, tratadas, usadas, compartilhadas e excluídas da Plataforma balta.io (“Plataforma”).
        </p>
        <p>
            Esta Política de Privacidade estará disponível e atualizada no seguinte link: <br/>
            <a href="https://balta.io/politicas/privacidade" target="_blank">https://balta.io/politicas/privacidade</a> <br/>
            <br/>
            Em caso de dúvida ou solicitações, entre em contato conosco através do e-mail hello@balta.io.<br/>
            <br/>
            A Política de Privacidade é parte integrante dos Termos de Uso deste site. <br/>
            <br/>
            <strong>Última atualização: 28/04/2021</strong>
        </p>

        <h3>ACEITE DOS TERMOS</h3>
        <p>
            Ao acessar a Plataforma balta.io no endereço https://balta.io, é de sua responsabilidade como VISITANTE ler e dirimir quaisquer dúvidas sobre esta Política. Concordando com as condições desta Política e dos Termos de Uso, você manifesta o consentimento ao registrar-se para uma conta gratuita, tornando-se USUÁRIO da Plataforma. Ao adquirir qualquer plano Premium (“Serviço”), você torna-se CLIENTE da Plataforma, o que mantém o consentimento fornecido anteriormente.
        </p>
        <p>
            Este consentimento poderá ser cancelado a qualquer momento, de três formas:

            <ol>
                <li>Excluindo sua conta de USUÁRIO pela opção disponível ao Editar Perfil; </li>
                <li>Clicando no link “cancelar inscrição” disponível no rodapé dos e-mails enviados; </li>
                <li>Entrando em contato conosco através do e-mail. </li>
            </ol>
        </p>

        <p>
            Ao cancelar o consentimento, você compreende que isso poderá restringir ou suspender o seu acesso à Plataforma como USUÁRIO ou CLIENTE. <br/>
            <br/>
            Ao solicitar a exclusão dos dados, seus Dados serão irreversivelmente excluídos, exceto nos casos em que a Plataforma seja obrigada por lei a armazená-los.
        </p>

        <h3>INFORMAÇÕES COLETADAS</h3>
        <ul>
            <li>
                O balta.io coleta Dados Inseridos pelo USUÁRIO na Plataforma, tais como o nome completo, a data de nascimento, o endereço de e-mail, o endereço completo, o número de telefone, número de cartão de crédito, o nome do titular do cartão de crédito, o CPF.
            </li>
            <li>
                Além dos Dados Inseridos pelo USUÁRIO na Plataforma, alguns outros dados são coletados automaticamente dos VISITANTES, tais como informações do navegador e IP de acesso, localização geográfica, dispositivo de acesso, termos buscados, páginas acessadas antes e após o uso da Plataforma.
            </li>
            <li>
                O balta.io pode utilizar-se de Cookies ou tecnologia similar para acompanhar, reconhecer e armazenar a navegação dos VISITANTES como usuário na Internet. É possível controlar o comportamento dos cookies, inclusive bloqueando-os completamente, através das configurações do seu navegador.
            </li>
        </ul>

        <h3>INFORMAÇÕES NÃO SOLICITADAS</h3>
        <ul>
            <li>
                Você tem a liberdade para enviar ideias, comentários, sugestão de conteúdo para artigos ou vídeos, perguntas, notas, relatos pessoais, dentre outros, que serão nomeados “Informações Não Solicitadas”
            </li>
            <li>
                Todas as Informações Não Solicitadas possuem caráter não confidencial e não sigiloso. Assim, podem ser reproduzidas, divulgadas e usadas livremente pela Plataforma, sem qualquer limitação ou atribuição.
            </li>
        </ul>

        <h3>UTILIZAÇÃO E TRATAMENTO DAS INFORMAÇÕES </h3>
        <p>Os Dados coletados serão utilizados para: </p>
        <ul>
            <li>
                Verificar a identidade do USUÁRIO e CLIENTE;
            </li>
            <li>
                Fornecer informações, produtos e serviços solicitados;
            </li>
            <li>
                Fornecer informações sobre a conta de USUÁRIO, como atualizações sobre seu plano, renovações, expirações, cobranças, dentre outros;
            </li>
            <li>
                Permitir-nos comunicar com você, responder aos seus contatos, como por exemplo através de e-mail ou mensagens em redes sociais;
            </li>
            <li>
                Permitir que você participe de eventos exclusivos, interativos, públicos ou não;
            </li>
            <li>
                Personalizar recomendações e sugestões de conteúdos da Plataforma para você;
            </li>
            <li>
                Emitir Certificado de Conclusão ou Participação em Cursos e eventos;
            </li>
            <li>
                Rastrear o progresso nas atividades disponibilizadas pela plataforma, como Cursos, Avaliações, Projetos, dentre outras;
            </li>
            <li>
                Rastrear a navegação nos conteúdos da Plataforma, como cursos e demais atividades, além de páginas de serviços ou ofertas;
            </li>
            <li>
                A prestação do Serviço da Plataforma, que inclui, por exemplo, notificar-te quando houver conteúdo compatível com seus interesses;
            </li>
            <li>
                Permitir o envio de ofertas ou descontos;
            </li>
            <li>
                Melhorar a qualidade dos Serviços da Plataforma;
            </li>
        </ul>

        <h3>ARMAZENAMENTO DAS INFORMAÇÕES </h3>
        <p>
            Os Dados coletados serão armazenados pela Plataforma, em servidores próprios ou por ela contratados. Os servidores contratados podem estar localizados no Brasil ou em território internacional, portanto, você consente que seus Dados sejam tanto armazenados e tratados no Brasil, quanto transferidos, armazenados e tratados em territórios estrangeiros. <br/>
            <br/>
            A Plataforma emprega todos os esforços razoáveis de mercado para garantir a segurança de seus sistemas na guarda das referidas informações, o que inclui, por exemplo, métodos de mercado para criptografia de dados coletados; proteção contra acesso não autorizado aos sistemas;<br/>
            <br/>
            No entanto, em razão da natureza da Internet, não é possível garantir que terceiros mal-intencionados não obterão sucesso em acessar indevidamente as informações armazenadas (“Incidente de Segurança”). Em caso de Incidente de Segurança com os seus Dados, a Plataforma adotará todas as medidas exigidas legalmente para informa-lo e protege-lo o mais brevemente possível.
        </p>

        <h3>COMPARTILHAMENTO DAS INFORMAÇÕES </h3>
        <p>
            Suas informações poderão ser compartilhadas internamente:

            <ul>
                <li>
                    Com instrutores, professores, auxiliares ou outros profissionais designados para a atividade educacional da Plataforma;
                </li>
                <li>
                    Com auxiliares, assistentes, administradores e analistas para a operação da Plataforma;
                </li>
                <li>
                    Com desenvolvedores, testadores, analistas e revisores, para a manutenção de componentes tecnológicos da Plataforma e integrações;
                </li>
                <li>
                    Com vendedores e profissionais de Marketing, na produção de campanhas, peças publicitárias, e-mail Marketing dentre outros;
                </li>
                <li>
                    Além disso, com empresas parceiras sediadas no Brasil ou em território internacional:
                </li>
                <li>
                    Para fins publicitários, para oferecer produtos e anúncios personalizados ao VISITANTE, CLIENTE ou USUÁRIO;
                </li>
                <li>
                    Para fins operacionais, como por exemplo, de operadores, intermediadores, integradores, e processadores de meios de pagamento;
                </li>
                <li>
                    Para fins de prestação do Serviço, como plataformas de vídeo-streaming, software de suporte ao cliente, software de envio de e-mails;
                </li>
                <li>
                    Para fins de gerenciamento, como softwares de controle financeiro, softwares de emissão de notas fiscais e sistemas de Prefeituras municipais.
                </li>
            </ul>
            E também:
            <ul>
                <li>
                    Para o cumprimento de determinações legais, judiciais, administrativas, ou mediante solicitação de autoridades governamentais, incluindo em casos para defender os interesses da Plataforma;
                </li>
                <li>
                    Seus dados poderão ser transferidos ou vendidos em caso de alterações societárias na Plataforma, permitindo a transferência, a terceiro ou sucessor, como em casos de falência, recuperação judicial ou extrajudicial, reestruturação societária ou venda de ativos.
                </li>
            </ul>
        </p>

        <h3>EXCLUSÃO DAS INFORMAÇÕES </h3>
        <p>
        Você poderá solicitar a exclusão dos dados:

        <ul>
            <li>
                Através do botão disponível em sua conta após a realização da Autenticação;
            </li>
            <li>
                Quanto não tiver mais interesse
            </li>
        </ul>

        A Plataforma poderá excluir seus dados:
        <ul>
            <li>
                Quando a finalidade para o qual o Dado foi coletado tenha sido alcançada;
            </li>
            <li>
                Quando você cancelar o consentimento fornecido para tratamento dos dados;
            </li>
            <li>
                Por determinação de autoridade.
            </li>
        </ul>

        Você compreende que a exclusão dos seus dados poderá impossibilitar o seu acesso à Plataforma e/ou ao uso do Serviço adquirido, sem que qualquer indenização lhe seja devida em razão disso. <br/>
        <br/>
        Isso compreende, por exemplo, os Certificados de Conclusão e a possibilidade de autenticá-los através da Plataforma.<br/>
        <br/>
        Após a solicitação de exclusão de dados, reservamos o direito de manter armazenados os Dados necessários ao cumprimento da legislação vigente.

        <h3>LINKS DE TERCEIROS E PLATAFORMAS DE TERCEIROS </h3>
        <p>
            Para a prestação do Serviço e conveniência dos Clientes, podemos indicar ou utilizar Sites de Terceiros, Serviços de Terceiros e Plataformas de Terceiros, tais como Facebook, Instagram, YouTube, Microsoft Teams, Zoom, Discord ou Telegram. <br/>
            <br/>
            Estes sites, serviços e plataformas de terceiros não fazem parte do balta.io e possuem seus próprios Termos de Serviço, Políticas de Privacidade, com suas respectivas condições para coleta, uso, armazenamento e divulgação de informações.<br/>
            <br/>
            Você é responsável por tomar ciência destas condições antes de decidir por utilizá-los ou não.
        </p>

        <h3>FORO COMPETENTE </h3>
        <p>Em consonância com os Termos de Uso, fica eleito, por ambas as partes, o Foro da Comarca de Piracicaba/SP para dirimir quaisquer dúvidas ou controvérsias oriundas desta Política de Privacidade, com a exclusão de qualquer outro, por mais privilegiado que seja. </p>
    </div>
</div>
</div>
</div>

</div>
</section>

<partial name="Partials/_FooterPartial"/>