<section class="mb-n9 position-relative z-index-9">
	<div class="container">
		<div class="row">
			<div class="col-11 col-md-10 mx-auto">
				<div class="bg-warning rounded-3 shadow p-3 p-sm-4 position-relative overflow-hidden">

					<figure class="position-absolute top-100 start-100 translate-middle mt-n6 ms-n5">
						<svg width="211px" height="211px">
							<path class="fill-white opacity-4" d="M210.030,105.011 C210.030,163.014 163.010,210.029 105.012,210.029 C47.013,210.029 -0.005,163.014 -0.005,105.011 C-0.005,47.015 47.013,-0.004 105.012,-0.004 C163.010,-0.004 210.030,47.015 210.030,105.011 Z"></path>
						</svg>
					</figure>

					<figure class="position-absolute top-100 start-0 translate-middle mt-n6 ms-5">
						<svg width="141px" height="141px">
							<path class="fill-white opacity-4" d="M140.520,70.258 C140.520,109.064 109.062,140.519 70.258,140.519 C31.454,140.519 -0.004,109.064 -0.004,70.258 C-0.004,31.455 31.454,-0.003 70.258,-0.003 C109.062,-0.003 140.520,31.455 140.520,70.258 Z"></path>
						</svg>
					</figure>

					<figure class="position-absolute top-0 start-50 mt-4 ms-n9">
						<svg width="41px" height="41px">
							<path class="fill-white opacity-4" d="M40.531,20.265 C40.531,31.458 31.457,40.531 20.265,40.531 C9.072,40.531 -0.001,31.458 -0.001,20.265 C-0.001,9.073 9.072,-0.001 20.265,-0.001 C31.457,-0.001 40.531,9.073 40.531,20.265 Z"></path>
						</svg>
					</figure>
					
					<div class="p-2 bg-white shadow rounded-3 rotate-74 position-absolute top-0 start-0 ms-3 mt-5 d-none d-sm-block">
						<img src="~/assets/images/client/science.svg" class="h-40px" alt="Icon">
					</div>
					<div class="p-1 bg-white shadow rounded-3 rotate-74 position-absolute top-0 end-0 mt-5 me-5 d-none d-sm-block">
						<img src="~/assets/images/client/angular.svg" class="h-30px" alt="Icon">
					</div>
					<div 	class="p-2 bg-white shadow rounded-3 rotate-130 position-absolute bottom-0 start-50 ms-5 mb-2 d-none d-lg-block">
						<img src="~/assets/images/client/figma.svg" class="h-20px" alt="Icon">
					</div>

					<div class="row">
						<div class="col-md-8 mx-auto text-center py-5 position-relative">

							<h2>Assine nossa Newsletter para ficar por dentro dos novos conteúdos</h2>

							<form class="row align-items-center justify-content-center mt-3">
								<div class="col-lg-8">
									<div class="bg-body shadow rounded-pill p-2">
										<div class="input-group">
											<input class="form-control border-0 me-1" type="email" placeholder="Digite seu e-mail">
											<button type="button" class="btn btn-blue mb-0 rounded-pill">Assinar!</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<footer class="pt-0 bg-blue position-relative">

	<figure class="mb-0">
		<svg class="fill-body rotate-180" width="100%" height="150" viewBox="0 0 500 150" preserveAspectRatio="none">
			<path d="M0,150 L0,40 Q250,150 500,40 L580,150 Z"></path>
		</svg>
	</figure>

	<div class="container">
		<div class="row mx-auto">
			<div class="col-lg-6 mx-auto text-center my-5">

				<img class="mx-auto h-40px" src="~/assets/images/logo-light.svg" alt="logo">
				@* <p class="mt-3 text-white">Eduport education theme, built specifically for the education centers which is dedicated to teaching and involving learners.</p> *@

        <ul class="nav justify-content-center text-primary-hover mt-3 mt-md-0">
          <li class="nav-item"><a class="nav-link text-white" href="#">Carreiras</a></li>
          <li class="nav-item"><a class="nav-link text-white" href="#">Cursos</a></li>
          <li class="nav-item"><a class="nav-link text-white" href="#">Eventos</a></li>
          <li class="nav-item"><a class="nav-link text-white" href="#">Blog</a></li>
          <li class="nav-item"><a class="nav-link text-white" href="#">Contato</a></li>
        </ul>
				<ul class="list-inline mt-3 mb-0">
					<li class="list-inline-item"> 
						<a class="btn btn-white btn-sm shadow px-2 text-facebook" href="https://www.facebook.com/balta.io" target="_blank">
							<i class="fab fa-fw fa-facebook-f"></i>
						</a> 
					</li>
					<li class="list-inline-item"> 
						<a class="btn btn-white btn-sm shadow px-2 text-instagram" href="https://www.instagram.com/balta.io/" target="_blank">
							<i class="fab fa-fw fa-instagram"></i>
						</a> 
					</li>
					<li class="list-inline-item"> 
						<a class="btn btn-white btn-sm shadow px-2 text-twitter" href="https://twitter.com/balta_io" target="_blank">
							<i class="fab fa-fw fa-twitter"></i>
						</a> 
					</li>
					<li class="list-inline-item"> 
						<a class="btn btn-white btn-sm shadow px-2 text-linkedin" href="https://www.linkedin.com/company/balta-io/" target="_blank">
							<i class="fab fa-fw fa-linkedin-in"></i>
						</a> 
					</li>
				</ul>

				<div class="mt-3 text-white">©2022 <a href="https://balta.io/" class="text-reset btn-link text-primary-hover" target="_blank">balta.io</a>. Todos os direitos reservados. </div>
			</div>
		</div>
	</div>
</footer>

<div class="alert alert-light fade show position-fixed start-0 bottom-0 z-index-99 rounded-3 shadow p-4 ms-3 mb-3 col-10 col-md-4 col-lg-3 col-xxl-2" role="alert">
	<div class="text-dark text-center">	

		<img src="~/assets/images/element/27.svg" class="h-50px mb-3" alt="cookie">

		<p class="mb-0">Este site armazena cookies no seu computador. Para saber mais sobre os cookies que usamos, consulte nossas<a class="text-dark" href="#"><u> Políticas de privacidade</u></a></p>

		<div class="mt-3">
			<button type="button" class="btn btn-success-soft btn-sm mb-0" data-bs-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">Aceitar</span>
			</button>
			<button type="button" class="btn btn-danger-soft btn-sm mb-0" data-bs-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">Recusar</span>
			</button>
		</div>
	</div>
</div>

<div class="back-top"><i class="bi bi-arrow-up-short position-absolute top-50 start-50 translate-middle"></i></div>

@section Scripts
{
	<script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="assets/vendor/tiny-slider/tiny-slider.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.js"></script>
	<script src="assets/js/functions.js"></script>
}
