@model Bedroom;

@{
    ViewData["Title"] = "Cadastrar Quarto";
}

<div class="container mt-3">
    <form asp-action="Edit" method="post" class="">
        <div>
            <label asp-for="Number"></label>
            <input asp-for="Number" class="form-control mt-3" style="width: 25%;" />
            <span asp-validation-for="Number" class="text-danger"></span>
        </div>
        <div>
            <label for="Capacity"></label>
            <input form="Capacity" type="text" class="form-control mt-3" style="width: 25%;" />
            <span asp-validation-for="Capacity" class="text-danger"></span>
        </div>
        <div>
            <label for="Gender"></label>
            <select asp-for="Gender" class="form-control mt-3" style="width: 25%;">
                <option selected>Selecione</option>
                <option value="0">Feminino</option>
                <option value="1">Masculino</option>
            </select>
        </div>
        <btn type="submit" class="primary m-4">Salvar</btn>
    </form>
</div>