@model List<Bedroom>

@{
    ViewData["Title"] = "Quartos";
}

<a asp-action = "Create">Cadastrar Quarto</a>

@foreach(var bedroom in Model){
    <div>
        <h1>@bedroom.Number</h1>
        <p>@bedroom.Capacity</p>
        <a asp-action="Edit" asp-route-bedroomId="@bedroom.Id">Editar</a>
    </div>
}