@* @model TModel *@

<a class="oc-person-link" href="">
    <div id="card" class="row oc-person-details-card align-items-center">
        <div class="col-2 align-items-center">
            <img src="/lib/media/site/images/icons/person-vector.png" width="36"/>
        </div>
        <div class="col-8 align-items-center">
            <h1 class="align-self-center">Abiratan Sousa</h1>
            <h2 class="align-self-center">59 anos</h2>
        </div>
        <div class="col-2 align-items-center">
            <img src="/lib/media/site/images/icons/right-half-arrow.png" width="24"/>
        </div>
    </div>
</a>