@model OldCare.Contexts.AccountContext.UseCases.ChangePassword.Request
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
    ViewData["URL"] = "";
    ViewData["Image"] = "";
}

<partial name="Partials/_ProfileHeaderPartial"/>

<section class="pt-0">
    <div class="container">
        <div class="row">
            <partial name="Partials/_SideMenuPartial"/>

            <div class="col-xl-9">
                <div class="card bg-transparent border rounded-3">
                    <div class="card-header bg-transparent border-bottom">
                        <h3 class="card-header-title mb-0">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-key-fill me-2" viewBox="0 0 16 16">
                                <path d="M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2zM2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                            </svg>
                            Configurações de senha
                        </h3>
                    </div>

                    <div class="card-body">
                        <form asp-action="ChangePassword" method="post" class="row g-4">
                            <div class="col-md-6 col-sm-12">
                                <div class="col-md-12">
                                    <label asp-for="OldPassword" class="form-label"></label>
                                    <div class="input-group">
                                        <input asp-for="OldPassword" class="form-control" type="password">
                                    </div>
                                    <span asp-validation-for="OldPassword" class="form-text text-danger"></span>
                                </div>

                                <div class="col-md-12 mt-3">
                                    <label asp-for="NewPassword" class="form-label"></label>
                                    <div class="input-group">
                                        <input asp-for="NewPassword" class="form-control" type="password">
                                    </div>
                                    <div class="form-text">Certifique-se de escolher uma senha forte.</div>
                                    <span asp-validation-for="NewPassword" class="form-text text-danger"></span>
                                </div>

                                <div class="col-md-12 mt-3">
                                    <label asp-for="NewPasswordConfirmation" class="form-label"></label>
                                    <div class="input-group">
                                        <input asp-for="NewPasswordConfirmation" class="form-control" type="password">
                                    </div>
                                    <span asp-validation-for="NewPasswordConfirmation" class="form-text text-danger"></span>
                                </div>

                                <br/>
                                
                                <div asp-validation-summary="All" class="text-danger"></div>

                                <div class="col-md-12 col-sm-3">
                                    <div class="input-group justify-content-end">
                                        <button type="submit" class="btn btn-primary">Salvar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


@section Scripts {
    <script src="~/assets/vendor/choices/js/choices.min.js"></script>
    <script src="~/assets/vendor/purecounterjs/dist/purecounter_vanilla.js"></script>
    <script src="~/assets/vendor/aos/aos.js"></script>
    <script src="assets/js/temporarily-alerts.js"></script>
    <script type="text/javascript">
        mask(document.getElementById('phone'), mphone);
    </script>

    @{ await Html.RenderPartialAsync("~/Views/Shared/Partials/_ValidationScriptsPartial.cshtml"); }
}