@using OldCare.Contexts.SharedContext.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model OldCare.Contexts.AccountContext.UseCases.Delete.Request
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
    ViewData["URL"] = "";
    ViewData["Image"] = "";
}

<style>
    .profile-details-bg {
        background:url('/assets/images/pattern/04.png') no-repeat center center; background-size:cover;
    }
</style>

<partial name="Partials/_ProfileHeaderPartial"/>

<section class="pt-0">
    <div class="container">
        <div class="row">
            <partial name="Partials/_SideMenuPartial"/>

            <div class="col-xl-9">
                <div class="card bg-transparent border rounded-3">
                    <div class="card-header bg-transparent border-bottom">
                        <h3 class="card-header-title mb-0">Deletar perfil</h3>
                    </div>

                    <div class="card-body">
                        <br/>
                        <div asp-validation-summary="All" class="text-danger"></div>

                        <form asp-action="Delete" class="row g-4" method="post">
                            <div class="col-12">
                                <div class="alert alert-warning" role="alert">
                                    <small>
                                        <strong>IMPORTANTE</strong><br>
                                        Ao clicar em "Excluir definitivamente" todas as informações da sua conta (dados pessoais, progresso, perfil público) não poderão mais ser recuperados.Selecione a opção abaixo para confirmar.
                                    </small>
                                    <br/>
                                    <br/>
                                    <div>
                                        <input asp-for="ConfirmDelete" type="checkbox">
                                        <label class="form-check-label">
                                            Li e compreendi o aviso acima.
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 justify-content-center align-items-center">
                                <div class="form-check">
                                    <input asp-for="FeedbackOption" class="form-check-input" type="radio" value="@EEvasionReason.DisappointingContent" id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        A didática não me cativou
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input asp-for="FeedbackOption" class="form-check-input" type="radio" value="@EEvasionReason.UnattractiveDidactics" id="flexRadioDefault2">
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        O conteúdo não era o que eu esperava
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input asp-for="FeedbackOption" class="form-check-input" type="radio" value="@EEvasionReason.JustDeleteInformation" id="flexRadioDefault3">
                                    <label class="form-check-label" for="flexRadioDefault3">
                                        Apenas desejo excluir minhas informações
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input asp-for="FeedbackOption" class="form-check-input" type="radio" value="@EEvasionReason.Others" id="flexRadioDefault4">
                                    <label class="form-check-label" for="flexRadioDefault4">
                                        Outros
                                    </label>
                                </div>
                                <span asp-validation-for="FeedbackOption" class="form-text text-danger"></span>

                                <br/>
                                <label class="form-label">Gostariamos de saber o que te levou à esta escolha.</label>
                                <textarea asp-for="FeedbackMessage" class="form-control" rows="3"></textarea>
                                <div class="form-text">O conteúdo desta mensagem será armazenado anonimamente.</div><span class="form-text text-danger"></span>

                                <div class="row mt-4">
                                    <div class="col-md-6 col-sm-12">
                                        <label asp-for="Password" class="form-label"></label>
                                        <input asp-for="Password" type="password" class="form-control border-0 bg-light rounded-end" placeholder="Senha">
                                        <span asp-validation-for="Password" class="form-text text-danger"></span>
                                    </div>

                                    <hr class="mt-3 mb-3"/>

                                    <div class="col-md-12 col-sm-12 d-sm-flex justify-content-end">
                                        <button type="submit" class="btn btn-danger">Excluir definitivamente</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/assets/vendor/choices/js/choices.min.js"></script>
    <script src="~/assets/vendor/purecounterjs/dist/purecounter_vanilla.js"></script>
    <script src="~/assets/vendor/aos/aos.js"></script>
    <script src="~/assets/js/jquery.mask.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.phone_with_ddd').mask('00 (00) 00000-0000');
            $('.cpf').mask('000.000.000-00', { reverse: true });
        });
    </script>
    <script src="~/assets/js/jquery.validate.min.js"></script>
    <script src="assets/js/temporarily-alerts.js"></script>

    @{ await Html.RenderPartialAsync("~/Views/Shared/Partials/_ValidationScriptsPartial.cshtml"); }
}